{{ template "header" . }}
        <main>
            <div class="table">
                <div>
                    <span>All subnets</span>
                    <span class="material-symbols-outlined" title="More">more_vert</span>
                </div>
                <table>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th class="expand"></th>
                        <th>Subnet</th>
                        <th>Group</th>
                        <th>VRF</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Customer</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td class="expand">
                            <span id="row-1" aria-expanded="false" onclick="toggle(this.id,'#row-1-1');" class="material-symbols-outlined">expand_more</span>
                        </td>
                        <td>1.1.1.0/24</td>
                        <td>grupp-1</td>
                        <td>none</td>
                        <td>Athen</td>
                        <td class="center">
                            <span class="fi fi-gr"></span>
                        </td>
                        <td>Company AB</td>
                    </tr>
                    <tr id="row-1-1" class="hidden">
                        <td>
                            <input type="checkbox">
                        </td>
                        <td class="expand"></td>                    
                        <td class="expand-1">1.1.2.0/25</td>
                        <td>grupp-1</td>
                        <td>none</td>
                        <td>Stockholm</td> 
                        <td class="center">
                            <span class="fi fi-se"></span>
                        </td>
                        <td>Company AB</td>         
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td class="expand">
                            <span aria-expanded="false" class="material-symbols-outlined">expand_more</span>
                        </td>                    
                        <td>1.1.2.0/24</td>
                        <td>grupp-1</td>
                        <td>none</td>
                        <td>Stockholm</td> 
                        <td class="center">
                            <span class="fi fi-se"></span>
                        </td>
                        <td>Company AB</td>                    
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td class="expand">
                            <span aria-expanded="false" class="material-symbols-outlined">expand_more</span>
                        </td>                    
                        <td>1.1.3.0/24</td>
                        <td>grupp-1</td>
                        <td>none</td>
                        <td>Stockholm</td> 
                        <td class="center">
                            <span class="fi fi-se"></span>
                        </td>
                        <td>Company AB</td>                    
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td class="expand">
                            <span aria-expanded="false" class="material-symbols-outlined">expand_more</span>
                        </td>                    
                        <td>1.1.4.0/24</td>
                        <td>grupp-2</td>
                        <td>none</td>
                        <td>Stockholm</td> 
                        <td class="center">
                            <span class="fi fi-se"></span>
                        </td>
                        <td>Company AB</td>                    
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td class="expand">
                            <span aria-expanded="false" class="material-symbols-outlined">expand_more</span>
                        </td>                    
                        <td>1.1.5.0/24</td>
                        <td>grupp-2</td>
                        <td>none</td>
                        <td>Stockholm</td> 
                        <td class="center">
                            <span class="fi fi-se"></span>
                        </td>
                        <td>Company AB</td>                    
                    </tr>                                                
                </table>
            </div>
            <div class="table">
                <div>
                    <span>Event history</span>
                    <span class="material-symbols-outlined" title="More">more_vert</span>
                </div>            
                <table>
                    <tr>
                        <th>Type</th>
                        <th>Information</th>
                        <th>Date</th>
                    </tr>
                    <tr>
                        <td>Subnet</td>
                        <td>Subnet 1.1.1.0/24 was added to default group</td>
                        <td>2020-01-02 12:45:12</td>
                    </tr>
                    <tr>
                        <td>Subnet</td>
                        <td>Subnet 1.1.2.0/24 was added to default group</td>
                        <td>2020-01-02 12:45:12</td>
                    </tr>
                    <tr>
                        <td>Subnet</td>
                        <td>Subnet 1.1.3.0/24 was added to default group</td>
                        <td>2020-01-02 12:45:12</td>
                    </tr>
                    <tr>
                        <td>Subnet</td>
                        <td>Subnet 1.1.4.0/24 was added to default group</td>
                        <td>2020-01-02 12:45:12</td>
                    </tr>
                    <tr>
                        <td>Subnet</td>
                        <td>Subnet 1.1.5.0/24 was added to default group</td>
                        <td>2020-01-02 12:45:12</td>
                    </tr>
                    <tr>
                        <td>Search</td>
                        <td>Search for occupied addresses on subnet 1.1.5.0/24</td>
                        <td>2020-01-02 12:45:12</td>
                    </tr>
                </table>
            </div>
        </main>
        <script>
            function toggle(btnID, eIDs) {
                var theRows = document.querySelectorAll(eIDs);
                var theButton = document.getElementById(btnID);
                if (theButton.getAttribute("aria-expanded") == "false") {
                    for (var i = 0; i < theRows.length; i++) {
                        theRows[i].classList.add("shown");
                        theRows[i].classList.remove("hidden");
                    }
                    theButton.setAttribute("aria-expanded", "true");
                } else {
                    for (var i = 0; i < theRows.length; i++) {
                        theRows[i].classList.add("hidden");
                        theRows[i].classList.remove("shown");
                    }
                    theButton.setAttribute("aria-expanded", "false");
                }
            }
        </script>
{{ template "footer" }}