<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="shortcut icon" href="static/icons/favicon.png">
    <meta charset="UTF-8">
</head>
<body>
    <div id="box">
        <div id="login-container">
            <form action="/login" method="post">
                <h2>welcome</h2>
                <input type="text" name="username" placeholder="Username" required autofocus/>
                <input type="password" name="password" placeholder="Password" required />
                <button type="submit">login</button>
            </form>
        </div>
    </div>
    <div id="disclaimer">
        <span>Content based on <a href="https://github.com">github.com</a> used under the <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a> license</span>
    </div>
</body>
</html>