<form id="form-modal" action="/">
    <section>
        <div>
            <span>Edit - IP Address</span>
            <span id="modal-close" class="material-symbols-outlined ">close</span>
        </div>
        <table>
            <tr>
                <td>IP Address</td>
                <td>1.1.1.1</td>
            </tr>
            <tr>
                <td>DNS</td>
                <td>host1.example.com</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>DNS Server</td>
            </tr>
        </table>
        <div class="buttons">
            <button type="reset" class="reset">Reset</button>
            <button type="submit" class="submit">Save changes</button>
        </div>
    </section>
</form>
